@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: overlay;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover, .menu__link:focus > a, a:focus {
  color: #97d9ff;
}

a:focus {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

.on-hover, .modal__close > *, .menu__link .link__icon {
  transition-property: stroke, color;
  transition-duration: 0.2s;
}

.on-hover:hover, .modal__close > :hover, .menu__link:focus > .on-hover, .modal__close.menu__link:focus > *, .menu__link .link__icon:hover, .menu__link:focus > .link__icon {
  color: #97d9ff;
  stroke: #97d9ff;
}

.menu__link {
  opacity: 0;
  transform: translateX(100%) scale(0.1);
  transition-property: opacity, transform;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 0.5em;
}
.menu__link .link__icon {
  width: 50px;
  cursor: pointer;
  fill: none;
  stroke: white;
}
.burger {
  z-index: 2;
}
.burger__check {
  width: 0;
  margin: 0;
}
.burger__check:checked ~ a {
  opacity: 1;
  transform: translateX(0);
}
.burger__check:focus ~ .menu__burger .burger__icon, .burger__icon:hover, .menu__link:focus > .burger__icon {
  stroke: #97d9ff;
}
.burger__icon {
  width: 50px;
  cursor: pointer;
  stroke: white;
  transition: stroke 0.2s linear;
}
.burger__icon * {
  fill: none;
  stroke: inherit;
  stroke-width: 6;
  transition-property: stroke-dasharray, stroke-dashoffset;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.burger__icon > *:nth-child(1) {
  stroke-dasharray: 60 207;
}
.burger__icon > *:nth-child(2) {
  stroke-dasharray: 60 60;
}
.burger__icon > *:nth-child(3) {
  stroke-dasharray: 60 207;
}
.burger__check:checked ~ .menu__burger .burger__icon > *:nth-child(1) {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}
.burger__check:checked ~ .menu__burger .burger__icon > *:nth-child(2) {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
}
.burger__check:checked ~ .menu__burger .burger__icon > *:nth-child(3) {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
}

.lamp {
  width: 300px;
}
.lamp > * {
  fill: none;
  stroke: black;
  stroke-width: 10px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.lamp__ray {
  stroke: yellow;
  visibility: hidden;
}
.lamp__container.on .lamp__light {
  fill: yellow;
}
.lamp__container.on .lamp__ray {
  visibility: visible;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 10% auto;
  padding: 10px;
  width: 320px;
  z-index: 3;
}
.modal[data-visibility=false] {
  visibility: hidden;
}
.modal::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
}
.modal::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -2;
}
.modal__close {
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  overflow: hidden;
  padding: 0;
  border: none;
  background: none;
}
.modal__close > * {
  width: 100%;
  stroke-width: 4px;
  stroke: black;
}
.modal__clock {
  max-height: 30vh;
}
.modal #time_text {
  font-family: "Arial", sans-serif;
}

.rickroll {
  text-decoration: underline;
}

.svg-sprite__unvisible {
  display: none;
}

.body {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px calc(50vw - 700px);
  background-color: #215f21;
  color: white;
  min-height: 100px;
}
.header > * {
  margin: 0 40px;
  box-sizing: border-box;
}
.header .header__brand {
  text-transform: uppercase;
  font-size: 1.5em;
}
.header__menu, .header__menu > * {
  position: relative;
}

.main {
  text-align: center;
  margin: 50px auto;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer * {
  margin: 2px 0;
}